body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-main) ;
}

a {text-decoration: none;

}
:root {
  --color-secondary: rgb(141, 141, 141);
  --color-main: rgb(244, 244, 244);
  --color-accent: rgb(119, 63, 211);

  --color-accent-lighter: rgb(181, 134, 248);
  --color-accent-darker: rgb(39, 7, 94);
  
  --br-round: 90px;

  --ff: Arial, Helvetica, sans-serif;  

  --fs-small:  10px;
  --fs-medium: 20px;
  --fs-large:  30px;
  --fs-extra:  40px;
}