

.miniblog-inner-view {
    box-shadow: var(--box-shadow-usual);
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.miniblog-view-header-container {
}
.miniblog-view-header-container h1 {
    font-size: var(--fs-extra);
    margin: 0;
}
.miniblog-view-header-container h2 {
    margin: 5px;
    font-size: normal;

}
.miniblog-view-header-container h3 {
    margin: 5px;
    font-size: normal;
}
.miniblog-view-article-container {
    white-space: pre-line;
    
}



