.navigation-outer-container {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: var(--color-main);
    width: 100vw;

}

.navigation-inner-container {
    height: min-content;
    display: flex;
    padding: 5px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin: 5px;
    width: 80vw;
    align-items: center;
    border-radius: var(--br-round);
    
    box-shadow: inset 7px 7px 15px var(--color-secondary),
    inset -7px -7px 15px var(--color-main);
    transition: all .1s;
}

#login-button {
    color: var(--color-accent);
}

.navigation-inner-container h1 {
    font-family: var(--ff);
    font-size: var(--fs-extra);
    color: var(--color-accent);
    letter-spacing: 5px;
    vertical-align: middle;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s;   
}

.navigation-inner-container img {
    height: 50px;
    margin: 0;
    margin: 8px;
    text-align: center;
    border-radius: var(--br-round);
    transition: all .5s;   
}

.navigation-inner-container:hover {
    border-radius: var(--br-round);
    background: var(--color-accent);
    box-shadow: inset 7px 7px 15px var(--color-accent-darker),
    inset -7px -7px 15px var(--color-accent-lighter);

    transition: all .5s;
    
}

#login-button:hover{
    color: var(--color-main);
}
.navigation-inner-container h1:hover {
    color: var(--color-main);
    transform: scale(1.05);
    transition: all .5s;
}

